<div class="container" id="acerca">
    <div >
        <img src="../../../assets/perfil.2.jpg" alt="foto-perfil"  id="fotodeperfil">
        <div type="button" class="btn" >
          <a href="#" class="btn-right">
            <i class="bi bi-pencil-square"></i>
          </a>
        </div>
    </div>

    <div >
      <div>
        <h1>Acerca de mi </h1> 
        <div class="botones">
          <div  class="btn-edit acercade" >

            <button id="edit_acercade" (click)="abrirModal($event)">
              <i class="bi bi-pencil-square" ></i>
            </button>
            

            <div style="display: none;" id="modal_edit_acercade">
              <input id="input_acercade" type="text">
              <button id="acercade" class="btn-right" (click)="cambiarParrafo($event)" >
                <i class="bi bi-check-square"></i>
              </button>
            </div>
            
            </div>
          </div>
        </div>
        <div> 
          <p id="text-acercade">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate cum odit? Itaque, eaque. Quae aspernatur temporibus obcaecati, laboriosam ab reiciendis ex ipsum. Fugit, iste numquam exercitationem ipsa natus animi.
          </p>
        </div> 
        <div>
          <input id="edit-acercade" type="text" style="display: none;">
        </div>
    </div>
</div>