<div class="circle-progress-container">
    <h1>Hard & Soft Skills</h1>
    <div>
      <button type="button" routerLink="/newskill" class="btn btn-outline-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>
    <div class="circle-progress-wrapper">
      <div *ngFor="let skill of skill" class="circle-progress-item">
        <circle-progress [percent]="skill.porcentaje" [radius]="90" [imageSrc]="''" [title]="skill.nombre"
          [titleColor]="'#212F3C'" [showTitle]="true" [showImage]="false" [imageHeight]="70" [imageWidth]="70"
          [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="3"
          [outerStrokeColor]="'#100'" [innerStrokeColor]="'#196'" [animation]="true" [animationDuration]="600">
        </circle-progress>
        <div class="circle-progress-actions" *ngIf="isLogged">
          <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="btn btn-dark" (click)="delete(skill.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  