* {
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  /* Cambia el color de fondo del contenedor */
}

h1 {
  text-align: center;
  color: #333;
  /* Cambia el color del título */
}

.btn-outline-primary {
  color: #636363;
  background-color: transparent;
  background-image: none;
  border-color: #333333;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #565656;
  border-color: rgb(84, 84, 84);
}

#icon-github {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 767px) {
  #icon-github {
    display: none;
  }


  .project-button h4 {
    margin-top: 0;
  }
}



.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

div.separado {
  display: flex;
}

td {
  display: flex;
}

.btn-outline-dark {
  text-align: center;

}