<div class="container">
    <h1>Proyectos Realizados</h1>
    <div>
      <button type="button" routerLink="/newProject" class="btn btn-outline-dark" *ngIf="isLogged">Nuevo Proyecto</button>
    </div>
    <table class="table">
      <tr *ngFor="let project of project">
        <td>
          <h2>{{ project.nameProject }}</h2>
        </td>
        <td>
          <p>{{ project.descriptionProject }}</p>
        </td>
        <td>

          <div class="btn btn-outline-primary container">
              <div>
                <h4>{{ project.nameProject }}</h4>
                <p>{{ project.descriptionProject }}</p>
              </div>
              <div>
                <a href="{{ project.linkProject }}" target="_blank">
                  <img src="{{ project.imgProject }}" alt="Imagen del proyecto" id="icon-github" [hspace]="5">
                </a>
              </div>

                <div>
                <td *ngIf="isLogged">
                  <button class="btn btn-light separado" routerLink="/editProject/{{ project.id }}">
                    <i class="bi bi-pencil-fill"></i></button> <br>
                </td>
                <td *ngIf="isLogged"><br>
                  <button class="btn btn-dark separado" (click)="onDeletePro(project.id)">
                    <i class="bi bi-trash-fill"></i></button>
                </td>
              </div>
              <div class="project-button" *ngIf="(window.innerWidth <= 767)">
                <h4>{{ project.nameProject }}</h4>
                <p>{{ project.descriptionProject }}</p>
              </div>
              
          </div>
      </tr>
    </table>
  </div>
  