
*{
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #EFF4F2;
    background-image:linear-gradient(
    0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../../../assets/leone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
@media(max-width: 575px){
    .titulo {
   font-size: 50px;
    }
    .subtitulo{
        font-size: 20px;
        margin-left: 0;
    }
    }
h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 100px;
    color: #EFF4F2;
}
p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    margin-top: -20px;
    margin-left: 70px;
    color: #EFF4F2;

}
.bi-pencil-square::before {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 20px;
}