<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#acerca">Acerca de mi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#experiencia">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#educacion">Educacion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#hs">Hards & Soft skills </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#proyectos">Proyectos</a>
    </li>
  </ul>