<div class="container" id="educacion">
    <h1>Educacion</h1>
 
    <div >
        <ul>
            <li>
                <h2>Edu 1</h2> - <h3>(years)</h3>
                <div class="botones">
                    <div class="btn-edit" onclick="cambiar_parra()">
                        <a href="#" class="btn-right">
                        <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                    <button type="button" class="btn">
                        <i class="bi bi-x-square"></i>
                    </button>
                </div>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ratione itaque deleniti reprehenderit molestiae qui minus beatae soluta officia, quam quo. Excepturi in repellendus nam perferendis ad sequi, voluptates incidunt.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Edu 2</h2> - <h3>(years)</h3>
                <div class="botones">
                    <div class="btn-edit" onclick="cambiar_parr()">
                        <a href="#" class="btn-right">
                        <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                    <button type="button" class="btn">
                        <i class="bi bi-x-square"></i>
                    </button>
                </div>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ratione itaque deleniti reprehenderit molestiae qui minus beatae soluta officia, quam quo. Excepturi in repellendus nam perferendis ad sequi, voluptates incidunt.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Edu 3</h2> - <h3>(years)</h3>
                <div class="botones">
                    <div class="btn-edit" onclick="cambiar_par()">
                        <a href="#" class="btn-right">
                        <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                    <button type="button" class="btn">
                        <i class="bi bi-x-square"></i>
                    </button>
                </div>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ratione itaque deleniti reprehenderit molestiae qui minus beatae soluta officia, quam quo. Excepturi in repellendus nam perferendis ad sequi, voluptates incidunt.
            </p>
        </ul>
    </div>
</div>